layout: index
description: 谢岗福易门业主营产品：不锈钢门、实木门、室内门、卫生间门、房间门、防盗门、生态门、高档别墅门等门窗产品，订购电话：13717323108。

subtitle: 东莞谢岗福易门业
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title 自由下单，时间可控制
      p.intro-feature-desc 通过微信、电话，以及门店下单，在约定时间内准时安排专业人员上门量尺、安装
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title 自有师傅，服务可确保
      p.intro-feature-desc 本店自有专业门窗安装师傅，拥有十多年门窗安装经验，可确保所有产品的服务质量
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title 规模生产，质量可信赖
      p.intro-feature-desc 所有不锈钢门、实木门、铝合金门等门窗产品均由规模厂家生产，拥有先进的生产设备确保产品质量
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title 品牌直销，安全有保障
      p.intro-feature-desc 所有产品均有品牌厂家授权直销，价格实惠，式样新颖，口碑大品牌，守护您的财产安全
